@font-face {
  font-family: "BodoniCondC";
  src: local("BodoniCondC"), url("./fonts/BodoniCondC.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "GlacialIndifference";
  src: local("GlacialIndifference"), url("./fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
}


* {
  margin: 0 auto;
  font-family: "GlacialIndifference";
}

* a {
  color: black;
}

h1, h2 {
  text-align: center;
  font-family: "BodoniCondC";
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

h3 {
  font-family: "BodoniCondC";
  font-weight: 100;
  font-size: 30px;
}

h4 {
  font-family: "BodoniCondC";
  padding-bottom: 10px;
  font-size: 20px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.center {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.dimensions {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  width: calc(100% - 10%);
  height: calc(100% - 10%);
  border-left: 5px solid #472516;
  border-right: 5px solid #472516;
  border-top: 5px solid #472516;
  border-bottom: 5px solid #472516;
}

.neighbours {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2px;
}

.blinkies {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
}

/* marquee https://codepen.io/sadness97/pen/BaQbJQb */
.marquee_container {
  overflow: hidden;
  white-space: nowrap;
}

.scrolling {
  animation: marquee 0.5s linear infinite;
  display: inline-block;
  padding-right: 10px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(-100%);
  }
}

.noticeboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: calc(100% - 10%);
  height: calc(100% - 10%);
  background-image: url('./Assets/0_noticeboard.png');
  border-left: 25px solid #472516;
  border-right: 25px solid #472516;
  border-top: 25px solid #472516;
  border-bottom: 25px solid #472516;
}

.desk {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1200px) {
  .noticeboard {
    grid-template-columns: 1fr;
  }
  .desk{
    grid-template-columns: 1fr;
  }
  .section {
    width: 100%;
    margin-bottom: 20px;
  }
}

.message {
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  margin-bottom: 40px;
  background-color: white;
}

.white {
  background-color: white;
}

.red {
  background-color: #d44141;
}

.redlight {
  background-color: #ffa0a0;
}

.orange {
  background-color: #ed7b12;
}

.orangelight {
  background-color: #ffb169;
}

.yellow {
  background-color: #ffcc00;
}

.yellowlight {
  background-color: #ffd861;
}

.green {
  background-color: #66bd6a;
}

.greenlight {
  background-color: #98dc9b;
}

.blue {
  background-color: #3aa6ed;
}

.bluelight {
  background-color: #b8e3ff;
}

.purple {
  background-color: #ad6cf8;
}

.purplelight {
  background-color: #d9b8ff;
}

.pink {
  background-color: #e55bed;
}

.pinklight {
  background-color: #fbb8ff;
}

.abodetable {
  border: 1px solid black;;
  border-collapse: collapse;
  font-family: GlacialIndifference;
}

td, th {
  text-align: left;
  padding: 10px;
}



.right {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.left {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* Navigation */
.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: white;
}

.navbar .links {
  margin: auto;
}
.navbar a {
  text-decoration: none;
  padding: 6px;
  color: black;
}
.navbar a:hover {
  color: white;
}

/* honeycomb */

.content {
  display: flex;
  margin: auto;
  padding: 20px;
  width: calc(var(--s) * 3 + 6 * var(--m)); 
  /*variables for honeycomb & hexagons*/
  --s: 200px;
  --m: 4px;
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

div.hexagon {
  width: var(--s); 
  height: calc(var(--s) * 1.1547);
  margin: var(--m);
  display: inline-block;

  text-align: center;
  line-height: calc(var(--s) * 1.1547);

  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  
  margin-bottom: calc(var(--m) - var(--s) * 0.2886);

  transition: all 150ms ease-in-out;
}

.honeycomb::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 20%;
}

.honeycomb::after {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 20%;
}

.kitchen {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
}

/* star */
div.star {
  height: 200px;
  width: 200px;
  -webkit-clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
  clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
  text-align: center;
  line-height: 200px;
  display: inline-block;
}